*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: 100%;
    width: 100%;
    background-color: black;
    color: white ;
}
header{
    width: 100%;
    height: 100vh;
    background:linear-gradient(to top,rgba(36,36,36,0.5),black),url("/assets/images/netflix_backgroundimg.jpg");
    position: relative;
    padding: 10px 10%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover ;
    
}


.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.logo{
    width: 160px;
    height: auto;
    cursor: pointer;
}
.img_logo{
    width: 100%;
}
.item{
    display: flex;
    gap: 10px;

}
.language{
    border: 1px solid white;
    outline: none;
    border-radius: 4px;
    background: transparent;
    color: rgb(248, 243, 243);
    padding: 12px 20px;
    font-size: 15px;
    font-weight: 600;
    margin-left: 7px;
    cursor: pointer;
}
option{
    background-color: white;
    color: black;   
}
.sign-in{
    border: 1px solid red;
    outline: none;
    border-radius: 4px;
   background-color: red;
    color: rgb(248, 243, 243);
    padding: 10px 18px;
    font-size: 15px;
    font-weight: 500;
    margin-left: 7px;
    cursor: pointer;
}
.header-text{
   display: grid;
   place-items: center;
   text-align: center; 
   margin-top: 15%;   
}
.header-text h1{
    font-size: 60px;
    margin-bottom: 15px;
    line-height: 58px;
    font-weight: 900;
}
.header-text h3{
    font-size: 22px;
    font-weight: 400;
    margin: 20px 0;

}
.header-text p{
    font-size: 18px;
    margin-bottom: 30px;
}
.header-text .input-form{
    display: flex;
    gap: 6px;
    outline: 0;
    align-items: center;
    margin: auto;

}
.input-form input{
   padding: 16px 42px;
   outline: none;
   border: 1px solid grey;
   border-radius: 4px;
   font-size: 20px;
  background: rgba(28, 28, 28, 0.8);
  font-weight: 600;
  color: white;

}
.input-form button{
    background-color: red;
    padding: 12px 25px;
    border-radius: 4px solid red;
    outline: none;
    color: white;
    font-size: 22px;
}
.input-form button{
    margin-left: 8px;
}
hr{
    background: grey;
    width: 100%;
    height: 7px;
    border: 0;
    outline: 0;
}
.container{
    width: 100%;
    padding: 50px 0px;

}
.body-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 520px;
    margin: auto;
}
.body-content{
    width: 50%;
      
}
.body-content h2{
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: 800;

}
.body-content p{
    font-size: 20px;
}
.tvimage{
    position: relative;
}
.tvimage img{
    position: relative;
    width: 500px;
    z-index: 10;

}
.tvimage video{
    position: absolute;
    width: 400px;
    top: 69px;
    right: 45px;
}
.faq{
    width: 100%;
}
.faq h1{
    text-align: center;
    font-size: 45px;
    margin-bottom: 25px;
}
.faq .row{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

}
.faq .row button{
    padding: 20px 50px;
    width: 70%;
    font-size: 22px;
    font-weight: 500;
    background-color:#353232;
    color: white;
    outline: none;
    margin-bottom: 10px;
    border: 0;
    text-align: left;
    
}
.faq .row button:hover{
    background: #5a5757;
}
.faq .row button::after{
    content: '+';
    float: right;
    font-size: 45px;
    cursor: pointer;
}
.faq-footer .header-text{
    margin-top: 40px;
    margin-bottom: 40px;
}

.footer{
    width: 100%;
    padding: 50px 12% 20px;

}
.footer .row{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 50px;
    padding: 20px 0;
      
}
.footer .row .col a{
    display: block;
    color: rgb(133, 133, 133);
    text-decoration: underline;
    font-size: 14px;
    font-weight: 550;
    margin-bottom: 20px;
}
.footer h2{
    font-size: 30px;
    color: rgb(152, 151, 151);
}
.footer p{
    color: #5a5757;
    margin: 20px;
}

@media only screen and (max-width:900px) and (min-width:300px){
    header{
        width: 100%;
        height: auto;
    }
    .nav .logo{
        width: 100px;
    }
    button{
        padding: 8px 15px;
        font-size: 12px;
    }
    .language{
        padding: 8px 15px;
        font-size: 12px;
    }
    .body-section{
        flex-direction: column;
        height: auto;
        padding: 40px 0;
        text-align: center;
    }
    .header-text h3,.header-text p{
        font-size: 18px;

    }
    .input-form button{
        font-size: 16px;
    }
    .input-form{
        flex-direction:column;
    }
    .header-text{
        margin-top: 12%;
    }
    .header-text h1{
        font-size: 40px;
    }

    .second, .four{
        flex-direction: column-reverse;
    }
    .body-section .body-content h2{
        font-size: 30px;
        margin-bottom: 10px;
    }
    .faq h1{
        font-size: 32px;
    }
    .faq .row button{
       
        width: 90%;
        font-size: 20px;
     

    }
    .footer{
      width: 80%;
      margin: auto;
    }
    .footer .row{
        grid-template-columns: repeat(2,1fr);
    }
}



